*.o
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/target/linux/feeds
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
/llvm-bpf*
key-build*
private-key.pem
public-key.pem
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
/vendor_feed
/target/linux/ipq53xx/rd15/kernel
miwifi_rd15_firmware_*.bin
